<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather data API</title>
</head>
<body>
<h1>Weather data API</h1>
<p>URL format for station and date: http://127.0.0.1:5000/api/v1/station/date</p>
<p>URL example: http://127.0.0.1:5000/api/v1/10/2012-12-21</p>
<br>
<p>URL format for all historic data for station: http://127.0.0.1:5000/api/v1/station</p>
<p>URL example: http://127.0.0.1:5000/api/v1/10</p>
<br>
<p>URL format for yearly data for station: http://127.0.0.1:5000/api/v1/yearly/station/year</p>
<p>URL example: http://127.0.0.1:5000/api/v1/yearly/10/1988</p>
<p>{{data|safe}}</p>
</body>
</html>